@import '../../node_modules/antd/dist/antd.css';

#beijing{
    background: white;
}

#ojbk{margin:1rem auto;padding:1rem;width:98%;border-radius:6px;background: white;border-color: white;text-align:center}
